body {
    font-family: 'Limelight', cursive;
}

/*Header styling*/
.header {
    background: url('../img/background.jpg') no-repeat center center scroll;
}

#headshot {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

    #headshot img {
        border-radius: 150px;
    }


/*Background for header text*/
.text-bg {
    max-width: 80%;
    background-color: rgba(45,58,64,0.9);
    color: rgb(36,155,189);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}

/*About styling*/
.about {
    background-color: #FE491A;
}

    .about a {
        color: white;
        text-decoration: none;
    }


/*Primary BG*/

.bg-primary {
    background-color: rgb(36,155,189);
}

.callout {
    background: url('../img/runners.jpg') no-repeat center center scroll;
    height: 800px;
    color: rgb(36,155,189);
}

/*WCCI section*/
.call-to-action {
    background-color: #FE491A;
}

/*Contact/Footer*/
footer a {
    color: white;
}

footer .text-muted {
    color: rgb(45,58,64);
}

.tiny-text {
    font-size: smaller;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 4px;
    background-color: rgba(45,58,64,0.9);
    color: rgba(36,155,189,1);
    margin-bottom: 5px;
}

    .btn-dark:hover,
    .btn-dark:focus,
    .btn-dark:active {
        color: rgb(45,58,64);
        background-color: rgb(36,155,189);
    }

.btn-light {
    border-radius: 4px;
    color: rgba(36,155,189,1);
}

    .btn-light:hover,
    .btn-light:focus,
    .btn-light:active {
        color: rgb(36,155,189);
        background-color: rgba(255,255,255, 0.4);
    }

.blue-border {
    border: 1px solid rgb(36,155,189);
}

.gray-border {
    border: 1px solid rgb(45,58,64);
}

.btn-hover-bg:hover,
.btn-hover-bg:focus,
.btn-hover-bg:active {
    background-color: rgb(36,155,189);
    color: white;
}

/*Sidebar*/
#sidebar-wrapper {
    background-color: rgb(45,58,64);
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #FE491A;
}


/*Portfolio imgs*/
#myImg1, #myImg2, #myImg3, #myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    max-width: 95%;
}

    #myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover {
        opacity: 0.7;
    }

    .portfolio-item{
        border: 1px solid black;
        border-radius: 8px;
    }

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 85%;
    max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption, #caption2, #caption3, #caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #caption2, #caption3, #caption4 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
